@import '../../base/colors.scss';

.header {
  height: 100px;
  background-color: $primary;
  padding: 15px;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    height: 100px;
  }
  h1 {
    color: white;
    font-weight: 300;
    flex: 1;
    text-align: center;
  }
}
