@import './colors.scss';

.container {
  padding: 15px;
  margin: 15px 0;
}

.secondaryButton {
  color: $secondary !important;
  svg {
    fill: $secondary !important;
  }
}

.secondaryButtonSelected {
  background-color: #2189c6;
  opacity: 0.16;
}
