.container {
  padding: 15px;
  margin: 15px 0;
}

.secondaryButton {
  color: rgba(0,0,0,.74) !important;
  svg {
    fill: rgba(0,0,0,.74) !important;
  }
}

.secondaryButtonSelected {
  background-color: #2189c6;
  opacity: 0.16;
}
